/* LandingPage.css */

/* Center the content in the page */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7617b6; /* Purple background */
}

/* Style the logo image */
.logo {
  max-width: 90%; /* Limite la largeur à 90% de l'écran */
  height: auto; /* Maintient le ratio d'aspect */
  animation: spin 2s linear infinite; /* Animation plus rapide (2s par rotation) */
}

/* Définition de l'animation de rotation */
@keyframes spin {
  from {
    transform: rotate(0deg); /* Début de la rotation */
  }
  to {
    transform: rotate(360deg); /* Fin de la rotation */
  }
}

/* Styles spécifiques pour les appareils mobiles */
@media (max-width: 600px) {
  .logo {

    max-width: 70%; /* Réduire la largeur maximale à 70% sur mobile */
  }
}
